
.md-typeset figure img {
   display: inline;
}

.md-typeset figure {
   width: 80%;
   
}

.md-typeset .two-image-figure {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.md-typeset .three-image-figure {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.md-typeset .four-image-figure {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

[data-md-color-scheme="default"] {
  --md-default-fg-color:        #313131;
  --md-default-fg-color--light: #616161;
  --md-default-fg-color--dark:  #919191;

  --md-default-bg-color: #ebebeb;
}

.md-typeset .grid {
  grid-gap: .4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(16rem,1fr));
  margin: 1em 0;
}

.md-typeset .grid.cards > ol > li, .md-typeset .grid.cards > ul > li, .md-typeset .grid > .card {
	border: .05rem solid var(--md-default-fg-color--lightest);
	border-radius: .1rem;
	display: block;
	margin: 0;
	padding: .8rem;
	transition: border .25s,box-shadow .25s;
}

.md-typeset .grid.cards > ol, .md-typeset .grid.cards > ul {
	display: contents;
}

.md-typeset .grid.cards > ol > li:focus-within, .md-typeset .grid.cards > ol > li:hover, .md-typeset .grid.cards > ul > li:focus-within, .md-typeset .grid.cards > ul > li:hover, .md-typeset .grid > .card:focus-within, .md-typeset .grid > .card:hover {
	border-color: #0000;
	box-shadow: var(--md-shadow-z2);
}
